*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.item{
  display:flex;
  /* padding:5px; */
  border:1px solid black;
  font-size: 19px;
}
.name{
  font-weight: 900;
}
.allergies{
  font-weight:900;
  color:red;
  font-family: serif;
  font-style: italic;
}
.desription{
  font-weight: 100;
}
.wine{
  margin-top:5px;
  font-family: serif;
}
.wine-name{
  font-weight: 900;
  font-family: serif;
}
.left{
  /* width:4in; */
}
.right{
  display: none;
  color:red;
}
h1{
  font-size: 25px;
  padding-left: 5px;
}